QMainWindow {
    background-color: #052659;
}
QStackedWidget {
    background-color: #054833;
}

#widget_3, #widget_4{
    background-color: #052659;
}
#label_2, #label_5{
    background-color: #C1E8FF
}

 #widget_5, #widget, #tabWidget{
    background-color: #7DA0CA;
}

QtWidgets {
    background-color: navy;
}